# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Albert Kjøller\Documents\EPFL\Courses\CS-503_VIMM\Project\CS-503_DistributedVision\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
